@import './card-component.css';

/* 카드 레이아웃 */
.section {
  display: grid;
  grid-template-rows: min-content min-content 1fr;
  text-align: center;
  block-size: var(--size);
  padding-block-start: var(--large-spacing);
  gap: var(--small-spacing);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  & + & {
    margin-top: 10px;
  }
  .title {
    color: var(--white);
    font-size: var(--large-text);
    font-weight: 700;
  }
  .contents {
    color: var(--white);
    font-size: var(--base-text);
    p {
      line-height: var(--line-normal);
    }
    .noti {
      font-size: var(--small-text);
      color: var(--gray);
    }
  }

  .button-area {
    display: block;
    .button {
      display: inline-block;
      color: var(--white);
      padding: var(--x-small-spacing);
      font-size: var(--xx-small-text);
      border-radius: 80px;
      background-color: var(--blue-100);
      & + & {
        margin-inline-start: var(--small-spacing);
      }
      &.button-outline {
        color: var(--blue-100);
        border: 1px solid var(--blue-100);
        background-color: transparent;
      }
    }
  }

  &:nth-child(2) {
    .title {
      color: var(--black);
    }
    .contents {
      color: var(--black);
    }
    .button {
      background-color: var(--black);
      &.button-outline {
        border-color: var(--black);
        color: var(--black);
      }
    }
  }

  /* section 1 */
  &.section-1 {
    background-color: #000;
    background-image: image-set(url(../products/ipad_pro.jpeg) 1x, url(../products/ipad_pro_2x.jpeg) 2x);
  }

  /* section 2 */
  &.section-2 {
    background-image: image-set(url(../products/ipad_air_wide.jpeg) 1x, url(../products/ipad_air_wide_2x.jpeg) 2x);
  }

  /* section 3 */
  &.section-3 {
    background-color: #000;
    background-image: image-set(url(../products/iphone15_pro.jpeg) 1x, url(../products/iphone15_pro_2x.jpeg) 2x);
    @media (width >= 1024px) {
      border: 1px solid blue;
      background-image: image-set(url(../products/iphone15_pro_wide.jpeg) 1x, url(../products/iphone15_pro_wide_2x.jpeg) 2x);
    }
  }

  /* section 4 */
  &.section-4 {
    background-color: #f5f5f7;
    background-image: image-set(url(../products/iphone15.jpeg) 1x, url(../products/iphone15_2x.jpeg) 2x);
  }

  /* section 5 */
  &.section-5 {
    background-color: #000;
    background-image: image-set(url(../products/apple_watch.jpeg) 1x, url(../products/apple_watch_2x.jpeg) 2x);
  }

  /* section 6 */
  &.section-6 {
    background-color: #f5f5f7;
    background-image: image-set(url(../products/macbook_air.jpeg) 1x, url(../products/macbook_air_2x.jpeg) 2x);
  }

  /* section 7 */
  &.section-7 {
    background-color: #000;
    background-image: image-set(url(../products/airpods_pro.jpeg) 1x, url(../products/airpods_pro_2x.jpeg) 2x);
  }
}

.section-grid {
  margin-top: 10px;

  .section {
    & + & {
      margin-top: 0;
    }
    .title {
      color: var(--black);
    }
    .contents {
      color: var(--black);
    }
    .button {
      background-color: var(--black);
      &.button-outline {
        border-color: var(--black);
        color: var(--black);
      }
    }
    &:nth-child(even) {
      .title {
        color: var(--white);
      }
      .contents {
        color: var(--white);
      }
      .button {
        background-color: var(--blue-100);
        &.button-outline {
          border-color: var(--blue-100);
          color: var(--blue-100);
          background-color: transparent;
        }
      }
    }
  }

  @media (width >= 1024px) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 10px;
  }
}
